<%- include("partial/header.ejs") %>


<div class="col-12 px-2 py-1 px-2 viewpost">
  <h3 > <%= headingofpost %>  <small class="text-body-secondary smallclass"><%=dateofpostv %></small></h3>
  <div class="mb-4 mt-2">
    <p style="white-space: pre-wrap;"> <%= contentofpost %> </p>
  </div>
</div>


<%- include("partial/footer.ejs") %>